<a href="https://colab.research.google.com/github/sowmith8899/data690_skola2/blob/main/assignment_08/assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 08

In [49]:
import pandas as pd
import plotly.express as px

### Use Pandas to read the file census_costs.txt file

In [5]:
url = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(url, skiprows=1, sep="\t")
df

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

### Find out how many rows and columns it has

In [6]:
print("Number of Rows:",len(df.axes[0]))
print("Number of Cols:",len(df.axes[1]))

Number of Rows: 23
Number of Cols: 4

### Display first 10, last 10, and random 10 rows

In [7]:
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [8]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [9]:
df.sample(10)

   Census Year Total Population   Census Cost Average Cost Per Person
4         1830       12,866,020      $378,545              2.94 cents
3         1820        9,633,822      $208,526              2.16 cents
12        1910       91,972,266   $15,968,000             17.07 cents
18        1970      203,302,031  $247,653,000                   $1.22
0         1790        3,929,214       $44,377              1.13 cents
7         1860       31,443,321    $1,969,377              6.26 cents
8         1870       38,558,371    $3,421,198              8.87 cents
13        1920      105,710,620   $25,117,000             23.76 cents
15        1940      131,669,275   $67,527,000             51.29 cents
17        1960      179,323,175  $127,934,000             71.34 cents

### Find out the data types of all columns - use info() function

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

### Find out the summary statistics of all columns

In [11]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

### Cleanse the data to make the year, population, cost, cost per person numerical type

#### Code functions to cleanse the columns. One function for one column

**Years**

In [19]:
def cleanse_year(a_string):
    return int(a_string.replace("*",""))

In [20]:
df["Year Int"] = df["Census Year"].apply(cleanse_year)
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   Year Int                 23 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.0+ KB

  Census Year Total Population Census Cost Average Cost Per Person  Year Int
0        1790        3,929,214     $44,377              1.13 cents      1790
1        1800        5,308,483     $66,109              1.24 cents      1800

**Population**

In [21]:
def cleanse_pop(a_string):
    return int(a_string.replace(",",""))

In [22]:
df["Population Int"] = df["Total Population"].apply(cleanse_pop)
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   Year Int                 23 non-null     int64
 5   Population Int           23 non-null     int64
dtypes: int64(2), object(4)
memory usage: 1.2+ KB

,Census Year,Total Population,Census Cost,Average Cost Per Person,Year Int,Population Int
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483

**Census Cost**

In [42]:
def cleanse_census(a_string):
  if "Billion" in a_string:
    a_string=a_string.replace(",","").replace("$","").replace("Billion","")
    a_string=(float(a_string))*1000000000
    return a_string
  else:
    return float(a_string.replace(",","").replace("$",""))

In [43]:
df["Census Int"] = df["Census Cost"].apply(cleanse_census)
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   Year Int                 23 non-null     int64
 5   Population Int           23 non-null     int64
 6   Census Int               23 non-null     float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ KB

,Census Year,Total Population,Census Cost,Average Cost Per Person,Year Int,Population Int,Census Int
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214,44377.0
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483,66109.0

**Average Cost Per Person**

In [45]:
def cleanse_cost(a_string):
  if "cents" in a_string:
    a_string=a_string.replace("cents","")
    a_string=(float(a_string))/100
    return a_string
  else:
    return float(a_string.replace("$",""))

In [46]:
df["Avg Cost Int"] = df["Average Cost Per Person"].apply(cleanse_cost)
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   Year Int                 23 non-null     int64
 5   Population Int           23 non-null     int64
 6   Census Int               23 non-null     float64
 7   Avg Cost Int             23 non-null     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.6+ KB

,Census Year,Total Population,Census Cost,Average Cost Per Person,Year Int,Population Int,Census Int,Avg Cost Int
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214,44377.0,0.0113
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483,66109.0,0.0124

### Find out the summary statistics of the numerical columns - use describe() function

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   Year Int                 23 non-null     int64
 5   Population Int           23 non-null     int64
 6   Census Int               23 non-null     float64
 7   Avg Cost Int             23 non-null     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.6+ KB

In [47]:
df.describe()

        Year Int  Population Int    Census Int  Avg Cost Int
count    23.0000    2.300000e+01  2.300000e+01     23.000000
mean   1900.0000    1.039211e+08  9.445587e+08      3.368739
std      67.8233    9.622629e+07  2.830037e+09      9.278241
min    1790.0000    3.929214e+06  4.437700e+04      0.011300
25%    1845.0000    2.013067e+07  1.128361e+06      0.055100
50%    1900.0000    7.630339e+07  1.185400e+07      0.170700
75%    1955.0000    1.653245e+08  1.096980e+08      0.658900
max    2010.0000    3.087455e+08  1.300000e+10     42.110000

### Use Plotly to plot the average cost per person over time.

In [52]:
fig = px.bar(df, x='Year Int', y='Avg Cost Int',title='Average cost per person over time')
fig.show()

### Use Plotly to plot the scatter plot of Total Population vs Total Cost

In [53]:
fig = px.scatter(df,x="Population Int",y="Census Int",title="Total Population vs Total Cost",)
fig.show()